Package: pulseaudio-steelseries-arctis-7
Version: 0.3
Maintainer: Bobby R. Ward<bobbyrward@gmail.com>
Homepage: https://github.com/bobbyrwardf/steelseries-arctis-7-pulseaudio-profile
Architecture: all
Depends: pulseaudio, udev
Section: sound
Description: Pulseaudio configuration for the SteelSeries Arctis 7
